body{
    background-color: rgb(201, 234, 236);
}
h1{
    text-align: center;
}
.form-container{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.display-output{
    background-color: white;
    width:400px;
    height: 500px;
    padding: 20px;
}
.input-container{
    margin-bottom: 10px;
}
.input-container label,textarea{
    font-weight: bold;
    padding-right: 20px;


}
.input-container .button{
    padding:5px 10px;
}
